$dosis: 'Dosis', sans-serif

$extra-light: 200
$light: 300
$regular: 400
$semi-bold: 500

$font_small: 1em
$font_regular: 1.2em
$font_large: 1.8em
$font_extra-large: 5.05em

$white: rgb(255, 255, 255)
$red: rgb(119, 25, 33)
$dark-red: rgb(46, 28, 37)
$black: rgb(0, 0, 0)

$small: 575px
$medium: 768px